a {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 100px;
    padding: 20px 50px;
    gap: 10px;
    text-decoration: none;
    color: #eeeeee;
    font-size: 1.1rem;
    transition: all 0.4s ease-in;
    
    &:hover {
        background-color: #333;
    }

    img {
        width: 5rem;
        height: 5rem;
        border-radius: 20px;
        border: 0.5px solid #eee;
    }
}
