a {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    border: 0.5px solid #eeeeee;
    padding: 15px 20px;
    gap: 10px;
    text-decoration: none;
    color: #eeeeee;
    background-color: #222;
    // box-shadow: 1px 1px 10px -4px  #fff;
    font-size: 1.1rem;

    img {
        width: 5rem;
        height: 5rem;
        border-radius: 20px;
        border: 0.5px solid #eee;
    }
}
