:host {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
}