:host {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #eeeeee;
    padding: 10px 20px;
    border-radius: 20px;
    gap: 5px;

    a {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 2.5rem;
        height: 2.5rem;
    }
}
